body {
    background: rgb(30,30,30);
    color: white;
    box-sizing: border-box;
    margin: 0;
}

line {
    stroke: #555 !important;
}

path {
    stroke: #555 !important;
}

.text {
    fill: white;
}

#tooltip {
    z-index: 1;
    position: relative;
    left: 50px;
    bottom: 100px;
    padding: 10px 20px;
    background: rgba(150,150,150,.6);
    border-radius: 4px;
}
.tooltip-text {
    color: white;
    text-align: center;
}

.container {
    height: auto;
    width: 700px;
    align-items: center;
    justify-content: center;
    background: rgb(40,40,40);
    margin: 10vh auto;
    border-radius: 4px;
}
